<div class="card">
  <div class="card-header">
    <div style="text-align:center">
      <h4><strong> Checkout </strong></h4>
    </div>
  </div>
</div>
<br />

<div class="container">
  <div class="row">
    <div class="col-sm-8">

      <h3><strong>Restaurant: {{restaurantInfo.restaurantName}}</strong></h3>
      <h4><strong>City: {{restaurantInfo.restaurantCity}}</strong></h4>

      <hr>
      <div class="well">
        <h4 class="d-inline-block"><strong>Delivery Address</strong></h4>
        <button type="button" style="float: right" class="btn btn-success btn-sm" ng-click="openModal();">Add New Address
        </button>
        <!-- <button type="button" style="float: right" class="btn btn-success btn-sm" data-toggle="modal"
          data-target="#exampleModal">
          Add New Address
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><strong>ADD NEW ADDRESS</strong> </h4>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Enter new Address here</label>
                    <div class="form-group row">
                      <label for="streetAddress" class="col-sm-2 col-form-label">Locality</label>
                      <div class="col-sm-10">
                        <input type="text" ng-model="newAddress.locality" style="width: 100%" required>
                        <div ng-show="checkValidLocality">
                          <h6 style="color: red">Enter valid locality</h6>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="city" class="col-sm-2 col-form-label">City</label>
                      <div class="col-sm-10">
                        <input type="text" ng-model="newAddress.city" style="width: 100%" required>
                        <div ng-show="checkValidCity">
                          <h6 style="color: red">Enter valid city</h6>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="pincode" class="col-sm-2 col-form-label">Pincode</label>
                      <div class="col-sm-10">
                        <input maxlength="6" ng-model="newAddress.pincode" style="width: 100%" required>
                        <div ng-show="checkValidExpiryYear">
                          <h6 style="color: red">Enter valid pincode</h6>
                        </div>


                      </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary" ng-click="addAddress(newAddress); "
                      data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> -->

      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" ng-repeat="address in userAddress track by $index">
          <input type="radio" ng-model="addressChosen.value" name="addressChosen" ng-value=address />

          <label>{{address.locality}}</label>
          <label>, {{address.city}}</label>
          <label>, {{address.pincode}}</label>


        </li>
      </ul>

      <div>
        <h4><strong>Payment</strong></h4>
        <h5><strong>Pay using: &nbsp;&nbsp;</strong> </h5>
        <div class="form-check-inline">

          <label class="form-check-label">
            <div ng-repeat="i in paymentMode track by $index">
              <input type="radio" ng-change="changePaymentMode(selectedPaymentMode.value)"
                ng-model="selectedPaymentMode.value" value="{{i}}"> {{i}}
            </div>
          </label>
        </div>
        <div ng-show="creditDebitForm">
          <form><br />
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Name on the card</label>
                <input ng-model="formData.name" type="text" class="form-control" required>
              </div>
              <div class="form-group col-md-6">
                <label>Card number</label>
                <input ng-model="formData.cardNumber" type="text" class="form-control" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Expiry Date</label>
                <span>
                  <input placeholder="MM" ng-model="formData.date.expiryMonth" maxlength="2" style="width:100px"
                    class="form-control" required>
                  <div ng-show="checkValidExpiryMonth">
                    <h6 style="color: red">Enter valid month</h6>
                  </div>
                </span>
                <span>
                  <input placeholder="YY" ng-model="formData.date.expiryYear" maxlength="4" style="width:100px"
                    class="form-control" required>
                  <div ng-show="checkValidExpiryYear">
                    <h6 style="color: red">Enter valid year</h6>
                  </div>
                </span>
              </div>
              <div class="form-group col-md-6">
                <label>CVV</label>
                <input ng-model="formData.CVV" maxlength="3" style="width:100px" type="text" class="form-control"
                  required>
              </div>
            </div>
          </form>
        </div>
        <br /><br />
        <button type="submit" class="btn btn-primary" ng-click="validateForm();">Place Order</button>

        <br /><br />
      </div>

    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><strong>Cart</strong></h4>
          <div ng-show="IsVisible">
            <p>Cart is empty</p>
          </div>
          <div ng-hide="IsVisible">

            <table ng-repeat="item in cart.cartItems track by $index ">
              <tr>
                <td width="170px">{{ item.foodName}}</td>

                <td width="100px">
                  <div>
                    <button class="btn btn-light btn-sm" style="font-size:25px;text-align: center; padding: 0;
                                      background-color: transparent; color: green; font-weight: bold;"
                      ng-click="addItem(item);">+</button>
                    <label style="font-size:17px;">&nbsp{{item.qty}}&nbsp</label>
                    <button class="btn btn-light btn-sm" style="font-size:25px;text-align: center;padding: 0;
                                      background-color: transparent; color: red; font-weight: bold; "
                      ng-click="removeItem(item);">-</button>
                  </div>

                </td>
                <td>{{item.foodPrice*item.qty | currency: "₹" }}</td>
              </tr>
            </table>
            <hr>
            <table>
              <tr>
                <td width="270px">
                  <h5><strong>Subtotal</strong></h5>
                </td>
                <td>
                  <h6><strong>{{ cart.subTotalCost | currency: "₹" }}</strong></h6>
                </td>
              </tr>
              <tr ng-repeat="(key, value) in cart.taxes">
                <td width="270px">
                  <h6><small>{{key}} added:</small></h6>
                </td>
                <td>
                  <small>{{ value | currency: "₹"  }}</small>
                </td>
              </tr>
              <tr>
                <td width="270px">
                  <h4><strong>Total</strong></h4>
                </td>
                <td>
                  <h4><strong>{{ cart.totalCost | currency: "₹"}}</strong></h4>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>