<div class="card">
  <div class="card-header">
    <div style="text-align:center">
      <h4><strong> Checkout </strong></h4>
    </div>
  </div>
</div>
<br />

<div class="container">
  <div class="row">
    <div class="col-sm-8">

      <h3><strong>Restaurant: {{restaurantInfo.restaurantName}}</strong></h3>
      <h4><strong>City: {{restaurantInfo.restaurantCity}}</strong></h4>

      <hr>
      <div class="well">
        <h4 class="d-inline-block"><strong>Delivery Address</strong></h4>
        <button type="button" style="float: right" class="btn btn-success btn-sm" ng-click="openModal();">Add New Address
        </button>
       
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" ng-repeat="address in userAddress track by $index">
          <input type="radio" ng-model="addressChosen.value" name="addressChosen" ng-value=address />

          <label>{{address.locality}}</label>
          <label>{{address.city}}</label>
          <label> {{address.pincode}}</label>


        </li>
      </ul>

      <div>
        <h4><strong>Payment</strong></h4>
        <h5><strong>Pay using: &nbsp;&nbsp;</strong> </h5>
        <div class="form-check-inline">

          <label class="form-check-label">
            <div ng-repeat="i in paymentMode track by $index">
              <input type="radio" ng-change="changePaymentMode(selectedPaymentMode.value)"
                ng-model="selectedPaymentMode.value" value="{{i}}"> {{i}}
            </div>
          </label>
        </div>
        <div ng-show="creditDebitForm">
          <form><br />
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Name on the card</label>
                <input ng-model="formData.name" type="text" class="form-control" required>
              </div>
              <div class="form-group col-md-6">
                <label>Card number</label>
                <input ng-model="formData.cardNumber" type="text" class="form-control" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Expiry Date</label>
                <span>
                  <input placeholder="MM" ng-model="formData.date.expiryMonth" maxlength="2" style="width:100px"
                    class="form-control" required>
                  <div ng-show="checkValidExpiryMonth">
                    <h6 style="color: red">Enter valid month</h6>
                  </div>
                </span>
                <span>
                  <input placeholder="YY" ng-model="formData.date.expiryYear" maxlength="4" style="width:100px"
                    class="form-control" required>
                  <div ng-show="checkValidExpiryYear">
                    <h6 style="color: red">Enter valid year</h6>
                  </div>
                </span>
              </div>
              <div class="form-group col-md-6">
                <label>CVV</label>
                <input ng-model="formData.CVV" maxlength="3" style="width:100px" type="text" class="form-control"
                  required>
              </div>
            </div>
          </form>
        </div>
        <br /><br />
        <button type="submit" class="btn btn-primary" ng-click="validateForm();">Place Order</button>

        <br /><br />
      </div>

    </div>

    <div class="col-sm-4" ng-init="calculateTotalCost();">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><strong>Cart</strong></h4>
          <div ng-show="IsVisible">
            <p>Cart is empty</p>
          </div>
          <div ng-hide="IsVisible">

            <table ng-repeat="item in cart.cartItems track by $index ">
              <tr ng-show="item.customizable=='false'">
                <td width="170px">{{item.foodName}}</td>

                <td width="100px">
                  <div>
                    <button class="btn btn-light btn-sm" style="font-size:25px;text-align: center; padding: 0;
                  background-color: transparent; color: green; font-weight: bold;"
                      ng-click="addItem(item, null);">+</button>
                    <label style="font-size:17px;">&nbsp{{item.qty}}&nbsp</label>
                    <button class="btn btn-light btn-sm" style="font-size:25px;text-align: center;padding: 0;
                  background-color: transparent; color: red; font-weight: bold; "
                      ng-click="removeItem(item, null);">-</button>
                  </div>

                </td>
                <td>{{ item.foodPrice * item.qty| currency: "₹" }}</td>
              </tr>
              <tr ng-show="item.customizable=='true'" ng-repeat-start="itemWithAddOn in item.customisation track by $index">

                <td width="170px">{{item.foodName}}</td>
            
                <td width="100px">
                  <div>
                    <button class="btn btn-light btn-sm" style="font-size:25px;text-align: center; padding: 0;
                    background-color: transparent; color: green; font-weight: bold;"
                      ng-click="addItem(item, itemWithAddOn.addOn);">+</button>
                    <label style="font-size:17px;">&nbsp{{itemWithAddOn.addOnQty}}&nbsp</label>
                    <button class="btn btn-light btn-sm" style="font-size:25px;text-align: center;padding: 0;
                    background-color: transparent; color: red; font-weight: bold; "
                      ng-click="removeItem(item, itemWithAddOn.addOn, 0);">-</button>
                  </div>

                </td>
                <td>{{calculateItemWithAddOnPrice(item, itemWithAddOn.addOn) * itemWithAddOn.addOnQty  | currency: "₹" }}</td>
                <tr ng-repeat-end>
                    <td>
                        <button class="btn btn-light btn-sm" style="font-size:10px;text-align: center; padding: 0;
                        background-color: transparent; color: grey; font-weight: bold;"                         ng-click="openCustomizationModal(item, itemWithAddOn.addOn)">Customize</button>
                    </td>
                </tr>
              </tr>
              
            </table>
            <hr>
            <table>
              <tr>
                <td width="270px">
                  <h5><strong>Subtotal</strong></h5>
                </td>
                <td>
                  <h6><strong>{{ cart.subTotalCost | currency: "₹" }}</strong></h6>
                </td>
              </tr>
              <tr ng-repeat="(key, value) in cart.taxes">
                <td width="270px">
                  <h6><small>{{key}} added:</small></h6>
                </td>
                <td>
                  <small>{{ value | currency: "₹"  }}</small>
                </td>
              </tr>
              <tr>
                <td width="270px">
                  <h4><strong>Total</strong></h4>
                </td>
                <td>
                  <h4><strong>{{ cart.totalCost | currency: "₹"}}</strong></h4>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>