<br/>
<section id="cover">
    <div id="cover-caption">
        <div class="container">
            <div class="row justify-content-center">
                    <div class="info-form">
                        <form action="" class="form-inlin justify-content-center">
                            <div class="form-group">
                                <br/> 
                                <div class="col text-center">
                                    <h4><strong>Enter your city</strong></h4><br/>  
                                </div>
                                <label class="sr-only">Enter city</label>
                                <input size="30" class="form-control" list="nameHistory" type="text" 
                                   ng-model="cityName" required="required" ng-change="changedValue(cityName)" 
                                   placeholder="Enter city">
                                <datalist id="nameHistory">
                                  <option ng-repeat="cityName in cities" value="{{cityName}}"></option>
                                </datalist>
                            </div>
                            <div class="col text-center">
                            <a href="#/restaurants/{{cityName}}" style="text-align:center" class="btn btn-primary btn-sm">Search</a></div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</section>