<br/>
<section id="cover">
    <div id="cover-caption">
        <div class="container">
            <div class="row justify-content-center">
                <div class="info-form">
                    <form class="form-inlin justify-content-center">
                            <label>Search: &nbsp</label>
                            <input type="text" ng-model="selected" typeahead-on-select="changedValue(selected)"
                              placeholder="enter city here" typeahead="cityname for cityname in cities | filter: $viewValue | limitTo:8" typeahead-input-formatter="formatInputField(selected)" 
                              style="padding: 0.2rem 0.2rem; width:50%; font-size: 0.75rem;" />
                            <span ng-show="selected.length>0">
                              <button type="button" class="btn btn-light btn-sm" ng-click="clearData()"
                                style="font-size:13px; background-color: transparent">X</button>
                            </span>
                            <br/>
                            <a ui-sref="" type="submit" style="text-align:center" class="btn btn-primary btn-sm"
                                ng-click="validateForm();">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>